body {
    background-color:#F9F7FD;
}

    a {
    color:  rgb(105, 72, 198);
}

.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08) ;
    border-radius: 10px;
}